            body
            {
                margin:0px;
            }
            ul.userbar
            {
                background-color: rgb(98,183,244);
                list-style-type: none;
                color:white;
                padding: 20px;
            }
            ul.userbar li
            {
                display: inline;
            }
            ul.userbar li a
            {
                text-decoration: none;
                font-size: 20px;
                cursor: pointer;
                background-color:transparent;
                color:white;
                padding: 20px;
            }
            ul.userbar li a:hover
            {
                text-decoration: underline;
                background-color:rgb(0,3,107);
            }
            div.logintab
            {
                background-color: white;
                width:450px;
                font-size: 20px;
                height:385px;
                border-radius: 15px;
                margin:150px 250px 200px 400px;
                transition-duration: 2s;
            }
            table
            {
                margin:20px 35px;
                display: inline-block;
                border-collapse:separate;
                border-spacing: 0px 25px;
            }
            td
            {
               
                background-color: #ddd;
                padding: 15px;
                border-radius: 15px;
                border: 1px solid black;
            }
            td input
            {
                width: 300px;
                font-size: 18px;
                background-color: transparent;
                border:none;
            }
            tr th
            {
                background-color: transparent;
                font-size: 25px;
                font-weight: 500;
            }
            tr.last td
            {
                background-color: rgb(98,183,244);
                color:white;
                border: none;
                cursor:pointer;
                font-size: 25px;
            }
            tr.last td:hover
            {
                color:rgb(0,0,51);
            }
            hr.line
            {
                border: 7px solid rgb(0,3,107);
            }
            div.content-area
            {
                border:1px solid black;
                position:absolute;
                padding:0;
                margin:0;

                top:150;
                left:7.5%;
                right:7.5%;

                width: 85%;
                height: 100%;
                background-image: url("index_background1.jpg");
            }
            #logo
            {
                display: inline-block;
                height: 50px;
            }